main {
  background-color: var(--bg-color);
  color: var(--font-color);
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  /*color: #333;*/
  background-color: var(--bg-color);
  color: var(--font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  /*color: inherit;*/
  color: var(--secondary-color);
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  page-break-inside: avoid;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

pre code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

img {
  max-width: 80%;
  height: auto;
}

blockquote {
  color: var(--secondary-color);
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

/*hljs stuff*/
.hljs,
.hljs-subst {
  color: #333;
}
.hljs-comment {
  color: #999;
}
.hljs-tag {
  color: #170;
}
.hljs-keyword {
  color: #708;
}
.hljs-attr {
  color: #333;
}
.hljs-number {
  color: #164;
}
.hljs-type,
.hljs-string,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: rgb(16, 94, 16);
}
.hljs-title,
.hljs-section {
  color: rgb(16, 94, 16);
}
.hljs-literal {
  color: #170;
}
.hljs-meta {
  color: #555;
}
.hljs-meta-string {
  color: #555;
}

/*Custom light dark stuff*/
:root {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}

[data-theme='dark'] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}
